<div class="dynamic-form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3 class="form-heading">{{formConfig.description}}</h3> 
      <div *ngFor="let control of formConfig.controls | keyvalue" class="form-field">
      <label [for]="control.key">{{control.value.label}}</label>
      <ng-container [ngComponentOutlet]="resolver.resolve(control.value.controlType)"
        [ngComponentOutletInjector]="control.key | controlInjector:control.value"></ng-container>
    </div> 

    <button [disabled]="form.invalid">Save</button>
  </form>
</div>