@use 'sass:math';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@import 'functions';

/*
KOR PORTAL SPECIFIC
===================
 */

$rembase: 16;
$gridunit: $rembase * 0.5px;
$main-side-nav-width: $gridunit * 8;
$secondary-side-nav-width: $gridunit * 30;
$padding-side-detail: 2 * $gridunit 3 * $gridunit;

$deep-blue: #1c3659;
$grey-blue: #8181a5;
$light-gray: #f9f9f9;
$light-blue-bg: #ecfaff;
$text-dark: #0e1e32;
$error-bg: #fff1f5;
$error-txt: #ff0042;

$brand-color-primary: #2ab9e5;
$brand-color-main: #015176;
$brand-color-secondary: #ff4dab;
$brand-color-sub: #00293d;

$state-info: #3c7dfa;
$state-success: #00ce7c;
$state-warning: #fed925;
$state-error: #ff0042;
$red: $state-error;

$gray-one: #333333;
$gray-two: #4f4f4f;
$gray-three: #828282;
$gray-four: #bdbdbd;
$gray-five: #e0e0e0;

/*
OVERRIDE OF BOOTSTRAP DEFAULTS
==============================
 */

// See:
// https://fonts.google.com/specimen/Montserrat
$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif;

// scss-docs-start theme-color-variables
$primary: $brand-color-main;
$secondary: $brand-color-primary;
$success: $state-success;
$info: $state-info;
$warning: $state-warning;
$danger: $state-error;
$light: $gray-five;
$dark: $gray-one;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);
// scss-docs-end theme-colors-map

// scss-docs-start theme-colors-rgb
$theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value');

$grid-breakpoints: (
  xs: 0,
  sm: 516px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$container-max-widths: (
  sm: 480px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) !default;

$grid-gutter-width: 5 * $gridunit !default;

// This should be half of what is defined on Figma.
// Except for xs / sm, these are 1 column layouts!
$grid-breakpoint-gutters: (
  xs: 1.5 * $gridunit,
  sm: 2 * $gridunit,
  md: 1.5 * $gridunit,
  lg: 2 * $gridunit,
  xl: 2.5 * $gridunit,
) !default;

// Font sizes
$display-font-sizes: (
  1: 3.5rem,
  2: 3rem,
  3: 2.5rem,
  4: 2rem,
  5: 1.5rem,
  6: 1rem,
);

$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
);

$component-active-bg: $primary;
$component-active-color: $white;

// Alerts
$alert-padding-y: 0.5rem;

// Modal
$modal-fade-transform: translate(0, -50px);
$modal-show-transform: none !default;
$modal-transition: transform 0.5s ease-out;
$modal-scale-transform: scale(1);

// Pagination
$pagination-color: $brand-color-main;
$pagination-active-color: $component-active-color;
$pagination-active-bg: $component-active-bg;
$pagination-active-border-color: $pagination-active-bg;

// Forms
$input-font-size: pxToRem(14);
$form-select-font-size: pxToRem(14);
$form-label-font-size: pxToRem(12);

// Toasts
$toast-header-color: white;
$toast-header-background-color: inherit;
$toast-header-border-color: inherit;

// Accordion
$accordion-padding-y: $gridunit * 2;
$accordion-padding-x: $gridunit * 3;
$accordion-border-width: 0;
$accordion-border-radius: 0;
$accordion-icon-width: 1rem;
$accordion-button-active-bg: rgba(0, 0, 0, 0.025);
$accordion-button-active-color: $brand-color-main;

// forms / checks-radios
$form-check-input-checked-color: $component-active-color;
$form-check-input-checked-bg-color: $component-active-bg;
$form-check-input-checked-border-color: $form-check-input-checked-bg-color;

$form-check-input-indeterminate-color: $component-active-color;
$form-check-input-indeterminate-bg-color: $component-active-bg;
$form-check-input-indeterminate-border-color: $form-check-input-indeterminate-bg-color;
